@import './variable';

div.contact-us-container {
  display: grid;
  grid-template-columns: calc(70% - 2em) 30%;
  grid-gap: 2em;
  margin: 5em auto 2em auto;
  max-width: 1500px;

  div.more-info {
    border-left: 0.2em solid $primary;
    padding-left: 1em;
  }
}

form {
  label {
    font-size: 1.2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }

  input.text-input, textarea {
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1em 1.5em;
    border-radius: 0.2rem;
    background-color: $gray-200;
    border: none;
    width: 100%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
}

div.form-subject-container {
  position: relative;
  margin-bottom: 3em;

  label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: -1;
    margin-left: 2rem;
    margin-top: 0.7rem;
  }

  &.label-transition label {
    top: -2em;
    left: -1em;
    z-index: 5;
  }

  span.error {
    position: absolute;
    right: 2em;
    font-size: 0.9em;
    opacity: 0;
    animation: reveal 0.5s forwards;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    right: 2em;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

div.checkbox-container {
  margin-bottom: 0.5em;
  input[type='checkbox'] {
    margin-right: 0.5em;
  }
}