@import './variable.scss';

div.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em 4em;
  border-top: 0.3em solid $primary;
  background: $black;

  section {
    h4 {
      font-weight: 300;
      text-transform: uppercase;
      span {
        text-transform: uppercase;
        font-style: italic;
      }
    }
    p {
      margin: 0;
    }
  }

  section:first-child {
    display: grid;
    place-items: end start;
  }

  section:last-child {
    display: grid;
    place-items: end end;
  }

  @media (max-width: $phone) {
    padding: 2em 1em;
  }
}

.portfolio-page, .contact-page {
  padding: 2em 4em;

  @media (max-width: $phone) {
    padding: 2em 0.5em;
  }
}

span.error {
  color: $red-600;
}

body {
  &::-webkit-scrollbar {
    width: 0.5em;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-700;
    border-radius: 0.25em;
  }
}